{% extends "layout.html" %}
    <title>{% block title %}update text{% endblock %}</title>

{% block content %}

{% if (allow_pi or allow_member) and form == "change_name" %}
    <form action="/update" method="POST">
        <div class="form-group">
            <label for="updateName">Give a new name:</label>
            <input type="text" class="form-control" name="changed_name" required>
            <input type="hidden" name="page_id" value="{{ page_id }}">
            <input type="submit" class="btn btn-primary" value="Change">
        </div>
    </form>

{% elif (allow_pi or allow_member) and form == "change_introduction" %}
    <form action="/update" method="POST">
        <div class="form-group">
            <label for="updateIntroduction">Change the introductory text:</label>
			<textarea class="form-control" name="changed_introduction" rows="10" required></textarea>
            <input type="hidden" name="page_id" value="{{ page_id }}">
            <input type="submit" class="btn btn-primary" value="Change">
        </div>
    </form>

{% else %}
    insufficient credentials

{% endif %}

{% endblock %}

<!--TODO: write javascript for validation with bootstrap-->
<script>

</script>