<title>Research Group Showroom: test version</title>
{% if session.username %}
<p>You are logged in. <form action="/logout">
	<input type="submit" value="Logout">
</form></p>
{% else %}
<form action="/login" method="POST"></form>
	<p>Username: <input type="text" name="username"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><input type="submit" value="Login"></p>
</form>
<p>Are you a student? <a href="/register">Register here.</a></p>
{% endif %}
<h1>
{{ name }}
{% if allow_pi %}
	<form action="/change_text" method="POST">
        <input type="hidden" name="page_id" value="1">
		<input type="submit" name="change_name" value="Change">
	</form>
{% endif %}
</h1>
<p>{{ introductory_text }}
{% if allow_pi %}
	<form action="/change_text" method="POST">
        <input type="hidden" name="page_id" value="1">
		<input type="submit" name="change_introduction" value="Change">
	</form>
{% endif %}

<!--TEMPORARY: basic elements for keywords, publications-->
<p>
	KEYWORDS FOR THIS PAGE: {% for keyword in keywords %} {{ keyword[0] }}{% if not loop.last %}, {% endif %}
	{% endfor %}
</p>
<p>List of publications:
	<ul>
		{% for publication in publications %}
		<li>{% for data_field in publication %} {{ data_field }}{% if not loop.last %} : {% else %}. {% endif %}
		{% endfor %}</li>
		{% endfor %}
	</ul>
</p>

<p>Links to personal pages:
	<ul>
		{% for subpage_id in subpages_id %}
		<li><a href="/member_page/{{ subpage_id[0] }}">Link</a>: page id {{ subpage_id[0] }}</li>
		{% endfor %}
	</ul>
	{% if allow_pi or allow_member %}
	<form action="/new_page">
		<input type="submit" name="add_new_page" value="Add new personal page">
	</form>
	{% endif %}
</p>
<p>Leave a message: 
	<form action="/new_message" method="POST" onsubmit="return validate_message(this)">
		<textarea name="new_feedback" rows="20" cols="80"></textarea>
        <input type="hidden" name="page_id" value="1">
        <input type="submit" value="Send message">
	</form>
	{% if allow_pi %}
	<form action="/view_feedback" method="POST">
		<input type="submit" name="view_feedback" value="View Feedback">
	</form>
	{% endif %}
</p>

<!--TEMPORARY: basic element for collaborations-->
<p> In collaboration with:
	HERE BE LOGOS
	<img {{ images }}>
</p>

<script>
	function validate_message(form) {
		if (form.new_feedback.value.length > 10000) {
  	      alert("Message is too long");
  	      return false;
		}	
		alert("Thank you for your feedback!");
		return true;
	}
</script>