<title>Research Group Showroom: test version</title>
{% if session.username %}
<p>You are logged in. <form action="/logout">
	<input type="submit" value="Logout">
</form></p>
{% else %}
<form action="/login" method="POST">
	<p>Username: <input type="text" name="username"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><input type="submit" value="Login"></p>
</form>
{% endif %}
<h1>
{{ name }}
{% if allow_pi %}
	<form action="/change_text" method="POST">
		<input type="submit" name="change_name" value="Change">
	</form>
{% endif %}
</h1>
<p>{{ introductory_text }}
{% if allow_pi %}
	<form action="/change_text" method="POST">
		<input type="submit" name="change_introduction" value="Change">
	</form>
{% endif %}
<p>Links to personal pages:
	<ul>
		{% for subpage_id in subpages_id %}
		<li><a href="/member_page/{{ subpage_id[0] }}">Link</a>: page id {{ subpage_id[0] }}</li>
		{% endfor %}
	</ul>
	{% if allow_pi or allow_member %}
	<form action="/new_page">
		<input type="submit" name="add_new_page" value="Add new personal page">
	</form>
	{% endif %}
</p>