<title>Research Group Showroom: member page</title>
{% if session.username %}
<p>You are logged in. <form action="/logout">
	<input type="submit" value="Logout">
</form></p>
{% endif %}
<h1>
{{ name }}
{% if allow_pi or allow_member %}
	<form action="/change_text" method="POST">
        <input type="hidden" name="page_id" value="{{ page_id }}">
		<input type="submit" name="change_name" value="Change">
	</form>
{% endif %}
</h1>
<p>{{ introductory_text }}
{% if allow_pi or allow_member %}
	<form action="/change_text" method="POST">
        <input type="hidden" name="page_id" value="{{ page_id }}">
		<input type="submit" name="change_introduction" value="Change">
	</form>
{% endif %}
<!--TEMPORARY: basic elements for keywords, publications-->
<p>
	KEYWORDS FOR THIS PAGE: {% for keyword in keywords %} {{ keyword[0] }}{% if not loop.last %}, {% endif %}
	{% endfor %}
</p>
<p>List of publications:
	<ul>
		{% for publication in publications %}
		<li>{% for data_field in publication %} {{ data_field }}{% if not loop.last %} : {% else %}. {% endif %}
		{% endfor %}</li>
		{% endfor %}
	</ul>
</p>
<p>Link back to root: <a href="/">Link</a></p>
Tämän sivun id on: {{ page_id }}