{% extends "layout.html" %}
    <title>{% block title %}member page{% endblock %}</title>

	{% block sidebar %}

	{% if session.username %}
		<li class="nav-item"><p>You are logged in.</li>
		<li class="nav-item"
			><form action="/logout">
				<input type="submit" class="btn btn-primary" value="Logout">
			</form>
		</li>
		<p><br>(debug) Current role: {% if allow_pi %}PI (primary investigator) {% elif allow_member %} Member {% elif allow_student %} Student
	{% endif %}</p>
	{% else %}
		<li class="nav-item">
			<h4>Login:</h4>
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="inputUsername">Username:</label>
					<input type="text" class="form-control" name="username" required>
				</div>
				<div class="form-group">
					<label for="inputPassword">Password:</label>
					<input type="password" class="form-control" name="password" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</li>
		<li class="nav-item"><p>Are you a student? <a href="/register">Register here.</a></p></li>
	{% endif %}
	{% if allow_pi or allow_member or allow_student %}
		<p><b>Student:</b> check out some potential research topics <a href="/student_topics/0">here.</a></p>
	{% endif %}
	
	{% endblock %}

	{% block content %}

	<div class="jumbotron">
		<h1 class="display-4">{{ name }}</h1>
		<hr>

		{% if allow_pi or allow_member %}
			<form action="/change_text" method="POST">
		        <input type="hidden" name="page_id" value="{{ page_id }}">
				<input type="hidden" name="old_text" value="{{ name }}">
				<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
				<input type="submit" class="btn btn-primary" name="change_name" value="Change">
			</form>
		{% endif %}
	</div>

	<br>
	<p>{{ introductory_text }}
	
	{% if allow_pi or allow_member %}
		<form action="/change_text" method="POST">
 	       <input type="hidden" name="page_id" value="{{ page_id }}">
			<input type="hidden" name="old_text" value="{{ introductory_text }}">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
			<input type="submit" class="btn btn-primary" name="change_introduction" value="Change">
		</form>
	{% endif %}
	</p>
	<br>

	<div class="row">
		<div class="col">
		<p>List of publications:
			<ul class="list-group">
				{% for publication in publications %}
					<li class="list-group-item">{% for data_field in publication %} {{ data_field }}{% if not loop.last %} : {% else %}. {% endif %}
					{% endfor %}
					</li>{% endfor %}
			</ul>
		{% if allow_pi or allow_member %}
		<div class="row">
			<form action="/change_text" method="POST">
				<input type="hidden" name="page_id" value="{{ page_id }}">
				<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
				<input type="submit" class="btn btn-primary" name="add_new_publication" value="Add new publication">
			</form>
			<form action="/delete_text" method="POST">
				<input type="hidden" name="page_id" value="{{ page_id }}">
				<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
				<input type="submit" class="btn btn-primary" name="delete_publication" value="Delete publication">
			</form>
		</div>
		{% endif %}
		</p>
		</div>
	</div>
	<p>
		Research Topics and Other Interests: {% for keyword in keywords %} {{ keyword[0] }}{% if not loop.last %}, {% endif %}
		{% endfor %}
		{% if allow_pi or allow_member %}
			<form action="/change_text" method="POST">
				<input type="hidden" name="page_id" value="{{ page_id }}">
				<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
				<input type="submit" class="btn btn-primary" name="add_new_keyword" value="Add new keyword">
			</form>
		{% endif %}
	</p>
	
	{% endblock %}