{% extends "layout.html" %}

<title>{% block title %}new member page{% endblock %}</title>

{% block content %}

    <form action="/update" method="POST">
        <div class="form-group">
            <label for="newName">Give your name:</label>
            <input type="text" class="form-control" name="new_name" required>
            <br>
            <label for="newIntroduction"> Provide introductory text:</label>
            <textarea class="form-control" name="new_introduction" rows="10" required></textarea>
            <input type="hidden" name="page_id" value="{{ page_id }}">
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" class="btn btn-primary" value="Create new personal page">
        </div>
    </form>

{% endblock %}