{% extends "layout.html" %}

<title>{% block title %}new member page{% endblock %}</title>

{% block content %}

    <form action="/update" method="POST">
        <div class="form-group">
            <label for="newTopic">Give name of the topic:</label>
            <input type="text" class="form-control" name="new_topic" required>
            <br>
            <label for="newDescription"> Provide description:</label>
            <textarea class="form-control" name="new_description" rows="10" required></textarea>
			<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <br>
            <input type="submit" class="btn btn-primary" value="Create new topic">
        </div>
    </form>

{% endblock %}