<form action="/update" method="POST" onsubmit="return validate_page(this)">
    Give your name:
    <input type="text" name="new_name">
    <br>
    Provide introductory text:
    <textarea name="new_introduction" rows="20" cols="80"></textarea>
    <br>
    <input type="submit" value="Create new personal page">
</form>

<script>
    function validate_page(form) {
        if (form.new_name.value.length > 200) {
            alert("Name is too long");
            return false;
        }
        if (form.new_introduction.value.length > 10000) {
            alert("Introduction is too long");
            return false;
        }
        return true;
    }
</script>