{% extends "layout.html" %}
    <title>{% block title %}register{% endblock %}</title>

    {% block content %}
	
	{% if session.username %}
	<p>You are already logged in. <form action="/logout">
		<input type="submit" class="btn btn-primary" value="Logout">
	</form></p>
	
	{% else %}
	<form class="register-form" action="/register" method="POST">
		<div class="form-group">
			<label for="newUsername">Create a new username:</label>
			<input type="text" class="form-control" name="new_username" required>
		</div>
		<div class="form-group">
			<label for="newPassword">Create a new password:</label>
			<input type="password" class="form-control" name="new_password" required>
		</div>
		<div class="form-group">
 	   		<label for="repeatPassword">Repeat password:</label>
			<input type="password" class="form-control" name="repeat_password">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
	</form>
	{% endif %}
	
	{% endblock %}
<!--
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		// FROM BOOTSTRAP DOCUMENTATION, BUT CAN'T GET IT TO WORK
		(function() {
		  'use strict';
		  window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('register-form');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
			  form.addEventListener('submit', function(event) {
				if (form.validate_name() === false) {
				  event.preventDefault();
				  event.stopPropagation();
				}
				form.classList.add('was-validated');
			  }, false);
			});
		  }, false);
		})();
		</script>

	<script>
		function validate_name() {
				if (document.getElementById('111').length == 0) {
					alert("Alert message");
					return false;
				}
				return true;
		}
	</script>-->
<!-- rewrite to function with bootstrap form validation
<script>
	function validate_repeat(form) {
		if (form.new_password.value != form.repeat_password.value) {
  	      alert("Passwords do not match!");
  	      return false;
		}	
		return true;
	}
</script>
-->