{% extends "layout.html" %}
	<title>{% block title %}student topics - {% if page_id == 0 %}main page{% else %}{{ page_id }}{% endif %}{% endblock %}</title>

	{% block sidebar %}

	{% if session.username %}<!--Can I pass info on session.username to layout.html as well?
	In case that would be possible, duplicate html-code from member_page.html could be moved to layout.html; same for this student_topics.html-->
		<li class="nav-item"><p>You are logged in.</li>
		<li class="nav-item"
			><form action="/logout">
				<input type="submit" class="btn btn-primary" value="Logout">
			</form>
		</li>
		<p><br>(debug) Current role: {% if allow_pi %}PI (primary investigator) {% elif allow_member %} Member {% elif allow_student %} Student
	{% endif %}</p>
    {% endif %}
    {% endblock %}

{% block content %}
    {% if allow_pi or allow_member or allow_student %}
    <div>
    <p><a class="btn btn-info" href="/student_topics/0">Topics Home</a></p>
    <h3 style="text-align: center;">Available topics:</h3>
    <nav aria-label="Student topics">
        <ul class="pagination pagination-lg justify-content-center">
            {% for topic_id in topic_ids %}
            <!-- .pagination in css does not override this component, so setting style here-->
                <li class="page-item"><a style="color: darkcyan; background-color: aliceblue;" class="page-link" href="/student_topics/{{ topic_id[0] }}">{{ loop.index }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    </div>
        {% if page_id != 0 %}
            <p>
                <h2>{{ topic_content[0][0] }}
                {% if topic_content[0][3] %}
                    <span class="badge badge-secondary">RESERVED TOPIC</span>
                {% endif %}
                </h2>
            </p>
            <p>
                {{ topic_content[0][1] }}
            </p>
            {% if allow_student and not topic_content[0][3] %}
                <p>
                    <form action="/reserve_topic" method="POST">
		                <input type="hidden" name="topic_id" value="{{ page_id }}">
				        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="submit" class="btn btn-primary" value="Reserve this topic">
                    </form>
                </p>
            {% endif %}
            {% if own_topic %}
            <p>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                    <div class="col">
                        Upload file here: <input type="file" name="upload_document">
                        <input type="hidden" name="topic_id" value="{{ page_id }}">
			    	    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <br>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Upload">
                    </div>
                    <div class="col">
                        Latest file uploaded:
                        <br>
                        {% if latest_document_id == None %}
                            no files uploaded
                        {% else %}
                            <form action="/download" method="POST">
                            <input type="hidden" name="document_id" value="{{ latest_document_id }}">    
                            <input type="hidden" name="topic_id" value="{{ page_id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="submit" class="btn btn-primary" value="Download">
                            </form>
                        {% endif %}
                    </div>
                    </div>
                </form>
            </p>
            <p>
                    <form action="/new_message" method="POST">
                        <label for="leaveComment">Leave a comment:</label>
                        <input type="hidden" name="topic_id" value="{{ page_id }}">
                        <textarea class="form-control" name="new_comment" rows="10" required></textarea>
                        <button type="submit" class="btn btn-primary">Send comment</button>
                    </form>
            </p>
                {% if messages %}
            <p>
                <div class="table_responsive">
                    <table class="table-striped" border="1">
                    <tr>
                    <th>Message</th><th>Time</th><th>user_id</th>
                    </tr>
                    {% for message in messages %}
                        <tr><td>{{ message[0] }}</td><td>{{ message[1].strftime("%c") }}</td><td>{{ message[2] }}</td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </p>
                {% endif %}
            {% endif %}
        {% else %}
            {% if allow_pi or allow_member %}
			    <form style="text-align: center;" action="/new_topic" method="POST">
			    	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
			    	<input type="submit" class="btn btn-primary" name="add_new_topic" value="Add new topic">
			    </form>
            {% endif %}
        {% endif %}
    {% else %}
        insufficient credentials
    {% endif %}
{% endblock %}
    
<!--obsolete code below:
    <p>
    Available topics:
    <select name="topic" id="tt" onchange="show_description()">
    {% for topic in topics %}
        <option value="{{ topic[0] }}">{{ topic[0] }}</option>-->
        <!--does jinja have loop.first attribute? for 'selected' to be added for the first item-->
<!--
    {% endfor %}
    </select>
    </p>
    {% for topic in topics %}
        <p id="{{ topic[0] }}" name="{{ topic[1] }}"></p>-->
        <!--Temporary hack: all the relevant fields from list of lists ('topics') extracted into these hidden elements
        to be fed to javascript-function show_description() below-->
<!--
    {% endfor %}
    
    <table border="1">
        <tr>
        <th>Topic</th><th>Description</th>
        </tr>
        <tr><td><span id="table_topic">default</span></td><td><span id="table_description">default</span></td>
        </tr>
    </table>
<script>
    function show_description() {
        var tt = document.getElementById("tt");
        var tbt = document.getElementById("table_topic");
        var tbd = document.getElementById("table_description");
        tbt.innerHTML = tt.value;
        tbd.innerHTML = document.getElementById(tt.value).getAttribute("name");
    }
</script>-->